 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/PicsArt_09-16-10.25.20.jpg");
  background-position: 100% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2137px;
}

.u-section-1 .u-text-1 {
  margin: 42px 746px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 94px 0 10px;
}

.u-section-1 .u-text-3 {
  margin: 30px 94px 0 10px;
}

.u-section-1 .u-text-4 {
  margin: 60px 94px 0 10px;
}

.u-section-1 .u-image-1 {
  width: 521px;
  height: 521px;
  background-image: url("images/PicsArt_05-31-10.35.181.jpg");
  background-position: 50% 50%;
  margin: -14px 10px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 559px;
  height: 374px;
  margin: -456px auto 0 30px;
}

.u-section-1 .u-text-5 {
  margin: 112px 105px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  margin: 105px 216px 0 0;
}

.u-section-1 .u-image-3 {
  width: 447px;
  height: 596px;
  margin: -47px 20px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2584px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 546px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 418px;
    height: 418px;
    margin-top: 52px;
    margin-right: 16px;
  }

  .u-section-1 .u-image-2 {
    width: 490px;
    height: 328px;
    margin-top: -373px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 356px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 154px;
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-1 .u-image-3 {
    height: 597px;
    margin-top: -40px;
    margin-right: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2904px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 326px;
  }

  .u-section-1 .u-image-1 {
    width: 321px;
    height: 321px;
    margin-top: 93px;
    margin-right: 14px;
  }

  .u-section-1 .u-image-2 {
    width: 379px;
    height: 284px;
    margin-top: -302px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 358px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 102px;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 60px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2634px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 70px;
    margin-right: 234px;
    margin-left: -23px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 27px;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-1 {
    width: 290px;
    height: 290px;
    margin-top: 9px;
    margin-right: 22px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 22px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 26px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 11px;
    margin-right: 22px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2086px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 77px;
    margin-right: 111px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 206px;
    height: 206px;
    margin-top: 3px;
  }

  .u-section-1 .u-image-2 {
    height: 153px;
    width: 215px;
    margin-top: 11px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 47px;
  }

  .u-section-1 .u-image-3 {
    width: 329px;
    height: 436px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 50px;
  }
} .u-section-2 {
  background-image: url("images/PicsArt_06-13-01.05.321.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 29px 187px 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 831px;
  width: 1127px;
  margin: 28px auto 60px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  left: 70px;
  top: auto;
  right: auto;
  bottom: 24px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 13.2%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-2 .u-back-image-9 {
  object-position: 50% 0%;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-2 .u-back-image-10 {
  object-position: 37.78% 50%;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 60px;
  height: 60px;
  top: 359px;
  right: auto;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: auto;
  background-image: none;
  top: 359px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 64px;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-gallery-1 {
    width: 922px;
    margin-top: 76px;
  }

  .u-section-2 .u-carousel-control-2 {
    top: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: 186px;
    margin-left: 15px;
  }

  .u-section-2 .u-gallery-1 {
    width: 710px;
    margin-top: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 42px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 368px;
    width: 527px;
    margin-top: 219px;
  }

  .u-section-2 .u-carousel-indicators-1 {
    left: 28px;
    bottom: 15px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 20px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 79px;
    margin-right: -15px;
    margin-left: 15px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 65px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 15px;
    width: 36px;
    height: 36px;
  }

  .u-section-2 .u-carousel-control-2 {
    width: 36px;
    height: 36px;
    right: 15px;
    top: 359px;
  }
} .u-section-3 {
  background-image: url("images/IMG_20210530_162409.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 3px 3px 35px rgba(0,0,0,1);
  font-weight: 700;
  margin: 113px 490px 0 47px;
}

.u-section-3 .u-gallery-1 {
  height: 1007px;
  width: 1124px;
  margin: 133px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-back-image-4 {
  object-position: 100% 50%;
}

.u-section-3 .u-over-slide-4 {
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  padding: 30px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-back-image-6 {
  object-position: 22.46% 50%;
}

.u-section-3 .u-over-slide-6 {
  padding: 30px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-7 {
  padding: 30px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-back-image-8 {
  object-position: 50% 100%;
}

.u-section-3 .u-over-slide-8 {
  padding: 30px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-9 {
  padding: 30px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-10 {
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 337px;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 117px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 97px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: -80px;
  }

  .u-section-3 .u-gallery-1 {
    height: 564px;
    margin-top: 167px;
    margin-bottom: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-carousel-indicators-1 {
    left: 10px;
    top: auto;
    right: auto;
    bottom: 107px;
  }

  .u-section-3 .u-over-slide-1 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-3 .u-over-slide-2 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-3 .u-over-slide-3 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-3 .u-back-image-4 {
    object-position: 80.9% 50%;
  }

  .u-section-3 .u-over-slide-4 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-3 .u-over-slide-5 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-3 .u-over-slide-6 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-3 .u-over-slide-7 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-3 .u-over-slide-8 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-3 .u-over-slide-9 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-3 .u-over-slide-10 {
    min-height: 100px;
    padding: 10px;
  }

  .u-section-3 .u-carousel-control-1 {
    top: 207px;
    right: auto;
  }

  .u-section-3 .u-carousel-control-2 {
    left: auto;
    top: 207px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 83px;
    margin-right: -72px;
    margin-left: 10px;
  }

  .u-section-3 .u-gallery-1 {
    height: 341px;
    margin-top: 43px;
    margin-bottom: 43px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-carousel-indicators-1 {
    bottom: 106px;
  }

  .u-section-3 .u-carousel-control-1 {
    top: 102px;
  }

  .u-section-3 .u-carousel-control-2 {
    top: 102px;
  }
}