 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/PicsArt_09-16-10.25.20.jpg");
  background-position: 100% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2137px;
}

.u-section-1 .u-text-1 {
  margin: 42px 746px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 94px 0 10px;
}

.u-section-1 .u-text-3 {
  margin: 30px 94px 0 10px;
}

.u-section-1 .u-text-4 {
  margin: 60px 94px 0 10px;
}

.u-section-1 .u-image-1 {
  width: 521px;
  height: 521px;
  margin: -14px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 559px;
  height: 374px;
  margin: -456px auto 0 30px;
}

.u-section-1 .u-text-5 {
  margin: 112px 105px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  margin: 105px 216px 0 0;
}

.u-section-1 .u-image-3 {
  width: 447px;
  height: 596px;
  margin: -51px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2584px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 546px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 418px;
    height: 418px;
    margin-top: 52px;
  }

  .u-section-1 .u-image-2 {
    width: 490px;
    height: 328px;
    margin-top: -373px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 356px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 154px;
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-1 .u-image-3 {
    height: 597px;
    margin-top: -40px;
    margin-right: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2904px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 326px;
  }

  .u-section-1 .u-image-1 {
    width: 321px;
    height: 321px;
    margin-top: 92px;
  }

  .u-section-1 .u-image-2 {
    width: 379px;
    height: 284px;
    margin-top: -302px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 358px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 102px;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 60px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2561px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 71px;
    margin-right: 261px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-1 {
    width: 290px;
    height: 290px;
    margin-top: -16px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 13px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 11px;
    margin-right: 22px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2040px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 61px;
    margin-right: 147px;
    margin-left: -36px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-image-1 {
    width: 226px;
    height: 226px;
    margin-top: 0;
    margin-right: -50px;
  }

  .u-section-1 .u-image-2 {
    height: 153px;
    width: 215px;
    margin-top: -6px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 47px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 454px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: url("images/PicsArt_06-13-01.05.321.jpg");
  min-height: 1050px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 29px calc(((100% - 1140px) / 2) + 187px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-gallery-1 {
  height: 871px;
  width: calc(((100% - 1140px) / 2) + 1122px);
  margin: 76px auto 22px 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  left: 33px;
  top: auto;
  right: auto;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 13.2%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 60px;
  height: 60px;
  top: 359px;
  right: auto;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: auto;
  background-image: none;
  top: 359px;
  right: 10px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 866px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin: 70px calc(((100% - 1140px) / 2) + 100px) 60px;
  }

  .u-section-2 .u-gallery-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-carousel-control-2 {
    top: 375px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 663px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-gallery-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 497px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-bottom: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 514px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-indicators-1 {
    left: 28px;
    bottom: 15px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 0;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 313px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-gallery-1 {
    height: 275px;
    margin-top: 70px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-carousel-control-1 {
    width: 36px;
    height: 36px;
  }

  .u-section-2 .u-carousel-control-2 {
    width: 36px;
    height: 36px;
    top: 359px;
  }
}